.header {
    background-color: #fff;
    height: 64px;
    padding: 0 24px;
}

.content {
    padding: 24px;
    box-sizing: border-box;
    background-color: #fff;
    background-clip: content-box;
    display: flex;
}

.layout {
    min-height: 100vh;
    background-color: transparent;
}

.box {
    max-width: 400px;
    margin: auto;
    text-align: center;
}