.header {
  background-color: #fff;
}

.content {
  background-color: #fff;
}

.margin_top {
  margin-top: 20px
}

.pilot_space {
  justify-content: space-around;
}

.pilot_cards {
  flex: 1
}

.visible_desc {
  font-size: 22px;
  max-width: 60%
}