.header {
    background-color: #fff;
    height: auto;
    padding: 0 24px;
}

.content {
    padding: 24px;
    box-sizing: border-box;
    background-color: #fff;
    background-clip: content-box;
    display: flex;
}

.layout {
    min-height: 100vh;
    background-color: transparent;
}

.box {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.search {
    max-width: 520px;
    margin: 18px auto 0;
}

.bgbox {
    padding: 24px;
    background-color: #fff;
}

.row {
    margin: 24px 24px 0;
}

.row + .row {
    margin: 24px;
}

.cardheader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.projectStatus {
    position: relative;
    padding-left: 14px;
}

.projectStatusSpot {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}